@media screen and (max-width:767px){

section{ width:100%; height:1140px; box-sizing:border-box;  }
.bgm{ width:100%; height:373px; margin:0 auto; background-color:#484544;}
.art{ width:100%; height:373px;  margin:0 auto; padding:5px 0; padding-left: 61px; padding-right:7%; box-sizing:border-box;  }


.kim{float:left; width:117px; height:117px; position:relative; padding-left:5px; text-align: center; }
.kim figure {	position: relative;	float: left;	overflow: hidden; background: #FFFFFF;	text-align: center;	cursor: pointer;}
.kim figure img {	position: relative;	 height: 100%;	width: 100%;	opacity: 0.8;}
.kim figure figcaption {	color: #FFFFFF;	text-transform: uppercase;	font-size: 24px;	-webkit-backface-visibility: hidden;	backface-visibility: hidden;}
.kim figure figcaption::before,.kim figure figcaption::after {	pointer-events: none;}
.kim figure figcaption, .kim figure figcaption > a { z-index: 1001;	position: absolute;	top: 0;	left: 0;	width: 100%;	height: 100%;}
.kim figure figcaption > a {	 z-index: 1001;	text-indent: 200%;	white-space: nowrap;	font-size: 0;	opacity: 0;}
.kim figure h2 {	color: #FFFFFF; font-size: 17px; word-spacing: -0.15em;	font-weight: 300;}
.kim figure h2 span {	color: #FFFFFF; font-size: 17px; font-weight: 800;}
.kim figure h2,.kim figure p {	margin: 0;}
.kim figure p {	padding-top:5px ;color: #FFFFFF; letter-spacing: 1px;	font-size: 35.5%;}

.kim figure.effect-ming {float:left; background: #030c17;}
.kim figure.effect-ming img {float:left;opacity: 0.9;	-webkit-transition: opacity 0.35s;	transition: opacity 0.35s;}
.kim figure.effect-ming figcaption::before {	position: absolute;	top: 15px;	right: 15px;	bottom: 15px;	left: 15px;	border: 1px solid #fff;	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);	content: '';	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale3d(1.4,1.4,1);	transform: scale3d(1.4,1.4,1);}
.kim figure.effect-ming h2 {	color: #FFFFFF; margin: 20% 0 10px 0;	-webkit-transition: -webkit-transform 0.35s;	transition: transform 0.35s;}
.kim figure.effect-ming p { color: #FFFFFF;	padding: 2em 0;	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale(1.5);	transform: scale(1.5);}
.kim figure.effect-ming:hover h2 {	color: #FFFFFF; -webkit-transform: scale(0.9);	transform: scale(0.9);}
.kim figure.effect-ming:hover figcaption::before,figure.effect-ming:hover p {	opacity: 1;	-webkit-transform: scale3d(1,1,1);	transform: scale3d(1,1,1);}
.kim figure.effect-ming:hover figcaption {	background-color: rgba(58,52,42,0);}
.kim figure.effect-ming:hover img {	opacity: 0.4;}

.lee{float:left; width:117px;  height:117px;  padding-left:5px; position:relative; text-align: center;  }
.lee figure {	position: relative;	float: left;	overflow: hidden; background: #FFFFFF;	text-align: center;	cursor: pointer;}
.lee figure img {	position: relative; height: 100%;	width: 100%;	opacity: 0.8;}
.lee figure figcaption {	color: #FFFFFF;	text-transform: uppercase;	font-size: 24px;	-webkit-backface-visibility: hidden;	backface-visibility: hidden;}
.lee figure figcaption::before,.lee figure figcaption::after {	pointer-events: none;}
.lee figure figcaption, .lee figure figcaption > a { z-index: 1001;	position: absolute;	top: 0;	left: 0;	width: 100%;	height: 100%;}
.lee figure figcaption > a {	 z-index: 1001;	text-indent: 200%;	white-space: nowrap;	font-size: 0;	opacity: 0;}
.lee figure h2 {	color: #FFFFFF; font-size: 17px; word-spacing: -0.15em;	font-weight: 300;}
.lee figure h2 span {	color: #FFFFFF; font-size: 17px; font-weight: 800;}
.lee figure h2,.lee figure p {	margin: 0;}
.lee figure p {	padding-top:5px ;color: #FFFFFF; letter-spacing: 1px;	font-size: 45.5%;}

.lee figure.effect-ming {float:left; background: #030c17;}
.lee figure.effect-ming img {float:left; opacity: 0.9;	-webkit-transition: opacity 0.35s;	transition: opacity 0.35s;}
.lee figure.effect-ming figcaption::before {	position: absolute;	top: 15px;	right: 15px;	bottom: 15px;	left: 15px;	border: 1px solid #fff;	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);	content: '';	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale3d(1.4,1.4,1);	transform: scale3d(1.4,1.4,1);}
.lee figure.effect-ming h2 {	color: #FFFFFF; margin: 20% 0 10px 0;	-webkit-transition: -webkit-transform 0.35s;	transition: transform 0.35s;}
.lee figure.effect-ming p { color: #FFFFFF;	padding: 2em;	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale(1.5);	transform: scale(1.5);}
.lee figure.effect-ming:hover h2 {	color: #FFFFFF; -webkit-transform: scale(0.9);	transform: scale(0.9);}
.lee figure.effect-ming:hover figcaption::before,figure.effect-ming:hover p {	opacity: 1;	-webkit-transform: scale3d(1,1,1);	transform: scale3d(1,1,1);}
.lee figure.effect-ming:hover figcaption {	background-color: rgba(58,52,42,0);}
.lee figure.effect-ming:hover img {	opacity: 0.4;}

.cook{float:left; width:117px;  height:117px; padding-left:5px;  padding-top:5px; position:relative; text-align: center;}
.cook figure {	position: relative;	float:left;	overflow: hidden; background: #FFFFFF;	text-align: center;	cursor: pointer;}
.cook figure img {	position: relative;	height: 100%;	width: 100%;	opacity: 0.8;}
.cook figure figcaption {	color: #FFFFFF;	text-transform: uppercase;	font-size: 24px;	-webkit-backface-visibility: hidden;	backface-visibility: hidden;}
.cook figure figcaption::before,.cook figure figcaption::after {	pointer-events: none;}
.cook figure figcaption, .cook figure figcaption > a { z-index: 1001;	position: absolute;	top: 0;	left: 0;	width: 100%;	height: 100%;}
.cook figure figcaption > a {	 z-index: 1001;	text-indent: 200%;	white-space: nowrap;	font-size: 0;	opacity: 0;}
.cook figure h2 {	color: #FFFFFF; font-size: 17px; word-spacing: -0.15em;	font-weight: 300;}
.cook figure h2 span {	color: #FFFFFF; font-size: 17px; font-weight: 800;}
.cook figure h2,.cook figure p {	margin: 0;}
.cook figure p {	padding-top:5px ;color: #FFFFFF; letter-spacing: 1px;	font-size: 35.5%;}

.cook figure.effect-ming {float:left; background: #030c17;}
.cook figure.effect-ming img {float:left; opacity: 0.9;	-webkit-transition: opacity 0.35s;	transition: opacity 0.35s;}
.cook figure.effect-ming figcaption::before {	position: absolute;	top: 15px;	right: 15px;	bottom: 15px;	left: 15px;	border: 1px solid #fff;	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);	content: '';	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale3d(1.4,1.4,1);	transform: scale3d(1.4,1.4,1);}
.cook figure.effect-ming h2 {	color: #FFFFFF; margin: 20% 0 10px 0;	-webkit-transition: -webkit-transform 0.35s;	transition: transform 0.35s;}
.cook figure.effect-ming p { color: #FFFFFF;	padding: 2em;	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale(1.5);	transform: scale(1.5);}
.cook figure.effect-ming:hover h2 {	color: #FFFFFF; -webkit-transform: scale(0.9);	transform: scale(0.9);}
.cook figure.effect-ming:hover figcaption::before,figure.effect-ming:hover p {	opacity: 1;	-webkit-transform: scale3d(1,1,1);	transform: scale3d(1,1,1);}
.cook figure.effect-ming:hover figcaption {	background-color: rgba(58,52,42,0);}
.cook figure.effect-ming:hover img {	opacity: 0.4;}

.john{float:left; width:117px;  height:117px; padding-top:5px;   padding-left:5px; position:relative; text-align: center;}
.john figure {	position: relative;	float:right;	overflow: hidden; background: #FFFFFF;	text-align: center;	cursor: pointer;}
.john figure img {	position: relative;	 height: 100%;	width: 100%;	opacity: 0.8;}
.john figure figcaption {	color: #FFFFFF;	text-transform: uppercase;	font-size: 24px;	-webkit-backface-visibility: hidden;	backface-visibility: hidden;}
.john figure figcaption::before,.john figure figcaption::after {	pointer-events: none;}
.john figure figcaption, .john figure figcaption > a { z-index: 1001;	position: absolute;	top: 0;	left: 0;	width: 100%;	height: 100%;}
.john figure figcaption > a {	 z-index: 1001;	text-indent: 200%;	white-space: nowrap;	font-size: 0;	opacity: 0;}
.john figure h2 {	color: #FFFFFF; font-size: 17px; word-spacing: -0.15em;	font-weight: 300;}
.john figure h2 span {	color: #FFFFFF; font-size: 17px; font-weight: 800;}
.john figure h2,.john figure p {	margin: 0;}
.john figure p {	padding-top:5px ;color: #FFFFFF; letter-spacing: 1px;	font-size: 45.5%;}

.john figure.effect-ming {float:left; background: #030c17; }
.john figure.effect-ming img {float:left; opacity: 0.9;	-webkit-transition: opacity 0.35s;	transition: opacity 0.35s;}
.john figure.effect-ming figcaption::before {	position: absolute;	top: 15px;	right: 15px;	bottom: 15px;	left: 15px;	border: 1px solid #fff;	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);	content: '';	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale3d(1.4,1.4,1);	transform: scale3d(1.4,1.4,1);}
.john figure.effect-ming h2 {	color: #FFFFFF; margin: 20% 0 10px 0;	-webkit-transition: -webkit-transform 0.35s;	transition: transform 0.35s;}
.john figure.effect-ming p { color: #FFFFFF;	padding: 2em;	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale(1.5);	transform: scale(1.5);}
.john figure.effect-ming:hover h2 {	color: #FFFFFF; -webkit-transform: scale(0.9);	transform: scale(0.9);}
.john figure.effect-ming:hover figcaption::before,figure.effect-ming:hover p {	opacity: 1;	-webkit-transform: scale3d(1,1,1);	transform: scale3d(1,1,1);}
.john figure.effect-ming:hover figcaption {	background-color: rgba(58,52,42,0);}
.john figure.effect-ming:hover img {	opacity: 0.4;}

.eon{float:left;  width:117px; height:117px;  padding-left:5px; padding-top:5px; position:relative; text-align: center; }
.eon figure {	position: relative;	float:right;	overflow: hidden; background: #FFFFFF;	text-align: center;	cursor: pointer;}
.eon figure img {	position: relative;	 height: 100%;	width: 100%;	opacity: 0.8;}
.eon figure figcaption {	color: #FFFFFF;	text-transform: uppercase;	font-size: 24px;	-webkit-backface-visibility: hidden;	backface-visibility: hidden;}
.eon figure figcaption::before,.eon figure figcaption::after {	pointer-events: none;}
.eon figure figcaption, .eon figure figcaption > a { z-index: 1001;	position: absolute;	top: 0;	left: 0;	width: 100%;	height: 100%;}
.eon figure figcaption > a {	 z-index: 1001;	text-indent: 200%;	white-space: nowrap;	font-size: 0;	opacity: 0;}
.eon figure h2 {	color: #FFFFFF; font-size: 17px; word-spacing: -0.15em;	font-weight: 300;}
.eon figure h2 span {	color: #FFFFFF; font-size: 17px; font-weight: 800;}
.eon figure h2,.eon figure p {	margin: 0;}
.eon figure p {	padding-top:5px ;color: #FFFFFF; letter-spacing: 1px;	font-size: 45.5%;}

.eon  figure.effect-ming {float:left; background: #030c17;}
.eon  figure.effect-ming img {float:left; opacity: 0.9;	-webkit-transition: opacity 0.35s;	transition: opacity 0.35s;}
.eon  figure.effect-ming figcaption::before {	position: absolute;	top: 15px;	right: 15px;	bottom: 15px;	left: 15px;	border: 1px solid #fff;	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);	content: '';	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale3d(1.4,1.4,1);	transform: scale3d(1.4,1.4,1);}
.eon  figure.effect-ming h2 {	color: #FFFFFF; margin: 20% 0 10px 0;	-webkit-transition: -webkit-transform 0.35s;	transition: transform 0.35s;}
.eon  figure.effect-ming p { color: #FFFFFF;	padding: 2em;	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale(1.5);	transform: scale(1.5);}
.eon  figure.effect-ming:hover h2 {	color: #FFFFFF; -webkit-transform: scale(0.9);	transform: scale(0.9);}
.eon  figure.effect-ming:hover figcaption::before,figure.effect-ming:hover p {	opacity: 1;	-webkit-transform: scale3d(1,1,1);	transform: scale3d(1,1,1);}
.eon  figure.effect-ming:hover figcaption {	background-color: rgba(58,52,42,0);}
.eon  figure.effect-ming:hover img {	opacity: 0.4;}

.cherry{ float:left; width:117px; height:117px;  padding-left:5px; padding-top:5px; position:relative; text-align: center; }
.cherry figure {	position: relative;	float:left;	overflow: hidden; background: #FFFFFF;	text-align: center;	cursor: pointer;}
.cherry figure img {	position: relative;	 height: 100%;	width: 100%;	opacity: 0.8;}
.cherry figure figcaption {	color: #FFFFFF;	text-transform: uppercase;	font-size: 24px;	-webkit-backface-visibility: hidden;	backface-visibility: hidden;}
.cherry figure figcaption::before,.cherry figure figcaption::after {	pointer-events: none;}
.cherry figure figcaption, .cherry figure figcaption > a { z-index: 1001;	position: absolute;	top: 0;	left: 0;	width: 100%;	height: 100%;}
.cherry figure figcaption > a {	 z-index: 1001;	text-indent: 200%;	white-space: nowrap;	font-size: 0;	opacity: 0;}
.cherry figure h2 {	color: #FFFFFF; font-size: 17px; word-spacing: -0.15em;	font-weight: 300;}
.cherry figure h2 span {	color: #FFFFFF; font-size: 17px; font-weight: 800;}
.cherry figure h2,.cherry figure p {	margin: 0;}
.cherry figure p {	padding-top:5px ;color: #FFFFFF; letter-spacing: 1px;	font-size: 35.5%;}

.cherry  figure.effect-ming {float:left; background: #030c17;}
.cherry  figure.effect-ming img {float:left; opacity: 0.9;	-webkit-transition: opacity 0.35s;	transition: opacity 0.35s;}
.cherry  figure.effect-ming figcaption::before {	position: absolute;	top: 15px;	right: 15px;	bottom: 15px;	left: 15px;	border: 1px solid #fff;	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);	content: '';	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale3d(1.4,1.4,1);	transform: scale3d(1.4,1.4,1);}
.cherry  figure.effect-ming h2 {	color: #FFFFFF; margin: 20% 0 10px 0;	-webkit-transition: -webkit-transform 0.35s;	transition: transform 0.35s;}
.cherry  figure.effect-ming p { color: #FFFFFF;	padding: 2em;	opacity: 0;	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;	transition: opacity 0.35s, transform 0.35s;	-webkit-transform: scale(1.5);	transform: scale(1.5);}
.cherry  figure.effect-ming:hover h2 {	color: #FFFFFF; -webkit-transform: scale(0.9);	transform: scale(0.9);}
.cherry  figure.effect-ming:hover figcaption::before,figure.effect-ming:hover p {	opacity: 1;	-webkit-transform: scale3d(1,1,1);	transform: scale3d(1,1,1);}
.cherry  figure.effect-ming:hover figcaption {	background-color: rgba(58,52,42,0);}
.cherry  figure.effect-ming:hover img {	opacity: 0.4;}




.line{ width:100%; height:189px;  margin:0 auto;}
.text { float:left; width:100%;  height: 45px;  margin:0 auto; background-image:url(../images/line001.png); background-size: 100% 100%; }

.text h3{ width:100px; height:30; background-color:#FFF; margin:0 auto; line-height: 30px; padding-top:7.5px; text-align:center;}
.text h3 span.bg{ font-size: 15px; font-weight: normal; text-align:center; margin:0 auto; padding:0;}

.subText{width:100%; height:139px;  margin:0 auto;  padding:0 11.25%; box-sizing:border-box; text-align:center;  }
.subText h4{  font-size: 23px; color:#484544; font-weight:bolder;  padding-top:10px; letter-spacing:-2px;}
.subText p{  font-size:11px; padding:10px 0;} 

.adr{width:100%; height: 130px;  margin:0 auto; background-color:#efeae6; margin:15px 0;}
.text01{width:100%; height:130px;  margin:0 auto;  padding:0 30px; box-sizing:border-box;  }
.text01 h6{ font-size:15px; font-weight:bold; padding:10px 0;}
.text01 p span{ font-size:12px; font-weight:bolder;}
.text01 p{font-size:12px; font-weight:normal;}

.map{width:100%;  height: 195px; margin:0 auto;}
.space{width:100%; height: 195px;  margin:0 auto; box-sizing:border-box; }
.map img{ width: 100%; height: 195px; margin:0 auto;}


.way {width:100%; height:170px; margin:0 auto; background-color:#efeae6; margin-top:15px; margin-bottom:50px; }
.text02{ width:100%; height:170px;  margin:0 auto;  padding:0 15px; box-sizing:border-box;  }
.text02 h6{  height:20px; font-size:15px; font-weight:bolder; padding-top:10px; padding-bottom:10px;  }
.sub{ float:left; width:100%; height: 40px; box-sizing:border-box; padding-left:15px;}
.sub img{ float:left; width:20px; height:20px; padding-right:2px; }
.sub p{padding-top:5px;  font-size:12px;}
.sub p .gold{ font-size:12px; font-weight:bold; color:#bf9b1f;}

.bus{ float:left;  width:100%; height:30px; box-sizing:border-box; padding-left:15px;}
.bus img{float:left; width:20px; height:17px; padding-right:2px; }
.bus p{padding-top:3px;  font-size:12px;}
.bus p .strong{ font-size:12px; font-weight:bolder;}

.park{  width:100%; height:33px; box-sizing:border-box;   padding-left:15px;}
.park img{float:left; width:28px; height:24px; padding-right:2px;}
.park p{padding-top:78px;  font-size:12px;}
.park p .strong{ font-size:12px ; font-weight:bolder;}






























}